{% extends "index.html" %}
{% block content %}

<div class="row">
    <div class= "twelve columns">
        <img src="../static/Nokia_01_edit.jpg" class="u-max-full=width">
    </div>
</div>

<div class="row">
    <div class="four columns">
        <h2> View a Class </h2>
    </div>
</div>

<div class="row">
    <select name="classid" form="select_class">
        {% for class in classes %}
        <option form="select_class" value="{{class['classid']}}" name="name">{{class['schoolname']}} - {{class['gradyear']}}</option>
        {% endfor %}
        <input type="submit" form="select_class" id="submit_journey">
    </select>
</div>

    <h5> Class Roster </h5>
    <table>
        <tr>
            <th> Name </th>
        </tr>
        {% for student in users %}
        <tr>
            <td><a href="{{url_for('profile_route', username=student['username'])}}">{{student['username']}}</a></td>
        </tr>
        {% endfor %}
    </table>

    <h1> Class Journeys </h1>
    <a href="{{url_for('add_journey_route', ref=classid)}}">Add a Journey!</a>
    <table>
        <tr>
            <th> Journey </th>
        </tr>
        {% for journey in classjournies %}
        <tr>
            <td><a href="{{url_for('journey_route', ref=classid, journeyid=journey['journeyid'])}}">{{classjourniesdetails[journey['journeyid']]['event']}}</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}