<!DOCTYPE html>
<html lang="en">

{% extends "index.html" %}

{% block content %}
<h3>{{session['username']}}'s Profile!</h3>
<h>Bio</h>
<a>{{bio}}</a>
<br>
<a>{{class}}</a>
<br>
{% for journey in journies %}
<a href="{{url_for('journey_route', journeyid=journeyid)}}">{{journey['event']}}</a>

<br>
<h>Reflection:</h>
<br>
{% if journey['event'] in reflections %}
    {% if reflections[journey['event']]['public'] %}
        {{reflections[journey['event']]['apiurl']}}
    {% endif %}
{% endif %}
{% if 'username' in session %}
    {% if session['username'] == profilename %}
        <form method="post" id="add_reflection">
            <h3>Reflection:</h3>
            <input type="text" form="add_reflection" id="add_reflection_input" name="reflection">
            <br>
            <input type="submit" form="add_reflection" id="new_submit">
        </form>
    {% endif %}
{% endif %}
<br>
{% endfor %}
{% endblock %}
